body {
	font-family: "Times New Roman";
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: black;
}

a:hover {
	color: red;
}

h1 {
	text-align: center;
}

select {
	width: 100%;
}

tr {
	padding: 0px;
}
.navbar {
	border: 1px solid black;
	padding: 1px;
	width: 480px;
	text-align: center;
	box-align: center;
}

.left {
	padding-right: 630px;
}

.right {
	padding-left: 210px;
}

.left_column {
	text-align: left;
	padding-right: 400px;
}

.right_column {
	text-align: right;
	padding-left: 280px;
}
.grade_select {
	width: 400px;
}
