body {
  background-color: #0b0c10;
  font-family: "Courier New", Courier, monospace;
}

h1,
h2,
a {
  color: #efe2ba;
}

p,
li {
  color: #2cd0d5;
}

h1 {
  text-align: center;
  background: #fc4445;
  border: 5px solid #efe2ba;
  padding: 10px;
}
