<!DOCTYPE html>
<html>
	<head>
		<title>About Page</title>
		<link rel="stylesheet" href="/static/css/style_sheet.css" />
	</head>
	<body>
		{% extends "base.html" %} {% block content %}
		<h1>About Myself</h1>
		<p>I am...</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Dignissimos, blanditiis accusantium dolorum quasi numquam sunt
			aspernatur laborum sint placeat ipsa temporibus assumenda soluta
			quod labore provident excepturi perspiciatis! Quis, architecto!
		</p>
		{% endblock %}
	</body>
</html>
