<!DOCTYPE html>
<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="/static/css/style_sheet.css" />
	</head>
	<body>
		{% extends "base.html" %} {% block content %}
		<h1>My Home Page</h1>
		<p>This is my home page.</p>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius
			minima minus aspernatur fugiat maxime animi aperiam quidem placeat,
			eligendi quasi sunt, dolore vero praesentium ipsa distinctio a,
			tenetur cumque?
		</p>
		{% endblock %}
	</body>
</html>
