<!DOCTYPE html>
<html>
	<head>
		<title>Rank Point Calculator</title>
		<link rel="stylesheet" href="/static/css/style_sheet.css" />
	</head>
	<body>
		{% extends "base.html" %} {% block content %}
		<h1>Rank Point Calculator</h1>
		<form action="{{ url_for('rp_display') }}" , method="POST">
			<table>
				<tr>
					<td class="left">
						<b>Subject</b>
					</td>
					<td class="right">
						<b>Grade</b>
					</td>
				</tr>
				{% for i in range(subject_lst | length) %}
				<tr>
					<td class="left">
						{{ subject_lst[i] }}
					</td>
					<td class="right">
						<select
							class="grade_select"
							name="{{ subject_lst[i] }}"
						>
							{% for grade in grades_lst %}
							<option value="{{grade}} ">{{grade}}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				{% endfor %}
			</table>
			<br />
			<input type="submit" value="Calculate!" />
		</form>
		{% endblock %}
	</body>
</html>
