<!DOCTYPE html>
<html>
	<head>
		<title>Rank Point</title>
		<link rel="stylesheet" href="/static/css/style_sheet.css" />
	</head>
	<body>
		{% extends "base.html" %} {% block content %}
		<h1>Here is your Rank Point!</h1>
		<table>
			<tr>
				<td class="left_column">
					<b>Subject Name</b>
				</td>
				<td class="left_column">
					<b>Grade</b>
				</td>
				<td class="right_column">
					<b>RP</b>
				</td>
			</tr>
			{% for i in range(subjects | length) %}
			<tr>
				<td class="left_column">
					{{ subjects[i] }}
				</td>
				<td class="left_column">
					{{ grades[i] }}
				</td>
				<td class="right_column">
					{{ rp_calc[i] }}
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td>Total</td>
				<td></td>
				<td class="right_column">
					{{ final_rp[1] }} / {{ final_rp[0] }}
				</td>
			</tr>
		</table>
		{% endblock %}
	</body>
</html>
